{% extends 'registration/base.html' %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}" />
  <title>login</title>
{% endblock %}
{% block body %}
<body background="../../static/img/back.jpg">
  <div class="sikaku"></div>
  <div class="marusikaku"></div>
  <div class="login-logo">
    <img src="./static/img/Loginlogo.png">
  </div>
  <div id="login-box">
    <h1 class="h1">Login</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form class="registration-form" method="post">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <button class="login-button">LOGIN</button>
      <div class="sign-up">Don't have an account?<a class="switch-register-mode" href="{{ url_for('signup') }}">SIGN UP!</a></div>
      <div class="or">
        <img src="./static/img/or.png">
      </div>
      <div class="g-button">
        <a href="{{ url_for('google_login') }}" >
          <button type="button" class="google-login">Login with Google</button>
          <img src="./static/img/google-icon.png">
        </a>
      </div>
    </form>
  </div>
</body>
{% endblock %}