<div id="reaction-modal-fetch">
  <div class="modal-content">
    <div class="modal-back2">
      <div class="img"><img src="../../static/img/modal-reactionWhite.png"></div>
      <div class="modal-header-reaction">リアクション</div>
      <div class="reaction-all">
      {% for reaction in reactions %}
        <form name="form{{ reaction.id }}reaction" action="/reaction" method="POST">
            <input type="hidden" name="channel_id" value="{{ channel.id }}" />
            <input type="hidden" name="reaction_id" value="{{ reaction.id }}" />
            <input class="reaction-messageid-confirm-fetch" type="hidden" name="message_id" />
            <a href="javascript:form{{ reaction.id }}reaction.submit()">
                <img class="reaction-img" src="{{ url_for('static',filename=reaction.icon_path) }}" />
            </a>
        </form>
      {% endfor %}
      </div>
      <button id="reaction-page-close-btn-fetch">キャンセル</button>
    </div>
  </div>
</div>
