<div id="delete-channel-modal" class="modal">
    <div class="modal-content">
      <div class="modal-back">
        <div class="img"><img src="../../static/img/modal-trashWhite.png"></div>
          <div class="modal-header-delete-channel">
            <h5>チャンネルを削除しますか？</h5>
          </div>
          <div class="modal-body">
            <button id="delete-page-close-btn">キャンセル</button>
            <a id="delete-confirm-link">
              <button id="delete-channel-confirmation-btn">削除</button>
            </a>
          </div>
      </div>
    </div>
</div>
  