<div id="follow-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-back2">
      <div class="img"><img src="../../static/img/modal-heartPlusWhite.png"></div>
      <div class="modal-header-follow-channel">チャンネルをフォローしますか？</div>
      <div class="modal-body">
        <button id="follow-page-close-btn">キャンセル</button>
        <a id="follow-confirm-link">
          <button id="follow-channel-confirmation-btn">フォロー</button>
        </a>
      </div>
    </div>
  </div>
</div>
