<!-- ホーム画面でのチャンネルフォロー -->

<div id="follow-channel-modal-i" class="modal">
    <div class="modal-content">
      <div class="modal-back2">
        <div class="img"><img src="../../static/img/modal-heartPlusWhite.png"></div>
          <div class="modal-header-follow-channel">
            <h5>チャンネルをフォローしますか？</h5>
          </div>
          <div class="modal-body">
            <button id="follow-page-close-btn-i">キャンセル</button>
            <a id="follow-confirm-link-i">
              <button id="follow-channel-confirmation-btn-i">フォロー</button>
            </a>
          </div>
      </div>
    </div>
</div>