<!-- ホーム画面でのチャンネルフォロー解除 -->
<div id="unfollow-channel-modal-i", class="modal">
  <div class="modal-content">
    <div class="modal-back">
      <div class="img"><img src="../../static/img/modal-heartminusWhite.png"></div>
      <div class="modal-header-unfollow-channel">
        <h5>フォローを解除しますか？</h5>
      </div>
      <div class="modal-body">
        <button id="unfollow-page-close-btn-i">キャンセル</button>
        <a id="unfollow-channel-confirm-link-i">
          <button id="unfollow-channel-confirmation-btn-i">解除</button>
        </a>
      </div>
    </div>
  </div>
</div>
