<div id="update-password-modal" class="modal">
  <div class="modal-content" id="modal-content-update-password">
    <div class="modal-back2">
      <div class="img"><img src="../../static/img/modal-editWhite.png"></div>
      <div class="modal-header-update-password">パスワード再設定</div>
      <form class="modal-body" action="/update_password" method="POST">
        <input
          type="password"
          placeholder="古いパスワード"
          class="old-password"
          name="old_password"
        />
        <input
          type="password"
          placeholder="新しいパスワード"
          class="new-password-input"
          name="password1"
        />
        <input
          type="password"
          placeholder="もう一度パスワードを入力"
          class="password2-input"
          name="password2"
        /><br>
        <button type="button" id="update-password-close-btn">キャンセル</button>
        <button id="update-password-OK-btn">OK</button>
      </form>
    </div>
  </div>
</div>