@charset "utf-8";
@media screen and (max-width: 768px) {
  
}

* {
box-sizing: border-box;
}

.body{
    position: relative;
    margin: 0;
    padding: 0;;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    font-family: 'BIZ UDPGothic';
}

.marusikaku{
    /* 上の四角 */
    position: absolute;
    width: 590px;
    height: 590px;
    left: calc(66% - 295px);
    top: calc(50% - 295px);
    background: rgba(255, 255, 255, 0.65);
    border-radius: 230px 230px 230px 180px;
    transform: rotate(83.21deg);
}

.sikaku{
     /* 後ろの四角 */
    position: absolute;
    width: 620px;
    height: 620px;
    left: calc(66% - 310px);
    top: calc(50% - 310px);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 250px 250px 250px 200px;

}

.login-logo{
    position: absolute;
    z-index: 9;
    margin: 0px, 143px, 0px, 0px;
    width: 425px;
    height: 496px;
    /* 213から180へ */
    left: calc(33% - 212.5px);
    top: calc(50% - 248px);
}


#login-box{
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    text-align: center;
    width: 357px;
    height: 425px;
    width: 357px;
    /* left: 57%;
    top: 29%; */
    left: calc(66% - 178.5px);
    top: calc(50% - 212.5px);
    border: none;
}

.h1{
    width: 97px;
    height: 32px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    cursor: default;
}

input[type="email"]{
    margin: 28px 0px 0px 0px;
}
input[type="email"],
input[type="password"]{
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    top: 300px;
    width: 340px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    transition: all 1s;
    background: none;

    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.login-button{
    margin-bottom: 5px;
    margin: 12px 0px 22px 0px;
    top: 100px;
    padding: 0;
    background: #C1005D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius:5px;
    width: 355px;
    height: 40px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    transition: all 0.3s;
}
.login-button:hover {
    background-color: #870041;
}

.sign-up{
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    cursor: default;
}

.switch-register-mode{
    text-decoration: none;
    color: #C1005D;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    transition: all 0.2s;
}
.switch-register-mode:hover {
    color: #278BFF;
}

.or{
    position: absolute;
    width: 355px;
    height: 11px;
    margin: 20px 0px 0px 0px;
}

/* google-ボタン指定 */
.google-login{ 
    position: absolute;
    width: 355px;
    height: 40px;
    left: 0px;
    top: -3px;
    margin: 0px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    border: none;
    border-radius:5px;
    text-align: center;
    color: #595959;
    transition: all 0.25s;
  }
  .google-login:hover{
    background-color: #d4d4d4;
    color: white;
  }
  .g-button {
    position: relative;
    width: 355px;
    height: 40px;
    margin: 70px 0px 0px 0px;
}
.g-button img {
  position: absolute;
  top: 2px;
  left: 38px;
}


/* パスワードが間違っています！
空のフォームがあるようですの表示 */
.flashes{
    position: absolute;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    color: red;
    list-style:none;
    padding: 0;
    margin: 0;
}


