/* ヘッダーのCSS */
@charset "utf-8";
/* @media screen and (max-width: 768px) {
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #dbdbdb ;
}

header {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
}


.ring-logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
  margin-left: 10px;
}


.header-icons {
  position: relative;
  left: calc(50% - 690px);
}

.header-icons ul li {
    position: relative;
    display: inline-block;
    align-items: center;
    list-style: none;
    height: 100px;
    width: 165px;
}

.header-icons ul {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 100px;
}

.home:hover {
    background-image: url(../img/Home-Black.png);
    height: 100px;
    width: 165px;
}

.mypage:hover {
    background-image: url(../img/myPage-Black.png);
    height: 100px;
    width: 165px;
}

.logout:hover {
    background-image: url(../img/Logout-Black.png);
    height: 100px;
    width: 165px;
}

/* ヘッダー下のオブジェクトcenterLineの中心配置指定 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MyPageとFollowchannelの後ろ-濃いグレーの四角 */
.user-info-sikaku {
    position: relative;
    display: flex;
    width: 1200px;
    height: 720px;
    top: 40px;
    background: #C2C2C2;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7), inset 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

/* マイページ（左半分全体）の指定 */
.mypage-container {
  position: relative;
  top: 0%;
  left: 4%;
}

/* mypageとフォローチャンネルの区切り線 */
.centerLine {
  position: absolute;
  width: 690px;
  height: 2px;
  left: 19.5%;
  top: 50%;
  border: 1.5px solid #000000;
  transform: rotate(90deg);
  background-color: #000000;
}

/* mypageの題名など */
.mypage-unit {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 215px;
  height: 70px;
  left: 8%;
  top: 4%;
  /* border: green solid; */
}
/* ユーザー情報 */
.user-info-mypage {
    position: relative;
    width: 134px;
    height: 30px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
    cursor: default;
}
.user-info-japanese {
    position: relative;
    width: 134px;
    height: 30px;
    padding-top: 10px;

    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}
.mypage-unit img {
    position: relative;
    width: 60px;
    height: 60px;
}

/* ユーザーアイコン　野菜 */
.user-icon {
    position: relative;
    width: 120px;
    height: 120px;
    top: 7%;
    left: 42%;
}

#update-icon-btn {
  position: relative;
  width: 70px;
  height: 45px;
  top: 1%;
  left: 65%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}
#update-icon-btn img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    transition: all 0.25s;
    z-index: 1;
}
#update-icon-btn:hover img:nth-of-type(2){
    opacity: 0;
}


.user-register-info {
  position: relative;
  width: 400px;
  height: 400px;
  left: 8.5%;
  top: 6%;
}


.user-name-mypage {
    position: relative;
    width: 111px;
    height: 18px;
    margin: 0 0 5px 2px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}

.user-name-box {
    position: relative;
    width: 400px;
    height: 60px;   
    background: #FFFFFF;
    border-radius: 5px;
    cursor: default;
}

#db-user-name {
    position: relative;
    width: 340px;
    height: 18px;
    left: 10px;
    top: -38px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#db-user-name::-webkit-scrollbar {
    display:none;
}

.mail-address{
    position: relative;
    width: 131px;
    height: 18px;
    margin: 0 0 5px 2px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}

.mail-address-box{
    position: relative;
    width: 400px;
    height: 60px;
    /* left: 221px; */
    /* top: 559px; */
    
    background: #FFFFFF;
    border-radius: 5px;
    cursor: default;
}

#db-email{
    position: relative;
    width: 340px;
    height: 18px;
    left: 10px;
    top: -38px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#db-email::-webkit-scrollbar {
    display:none;
}

#update-name-email-btn{
  position: relative;
    width: 150px;
    height: 40px;
    left: 250px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
}
#update-name-email-btn img{
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  transition: all 0.25s;
  z-index: 1;
}
#update-name-email-btn:hover img:nth-of-type(2){
    opacity: 0;
}

.password {
    position: relative;
    width: 98px;
    height: 18px;
    margin: 18px 0 5px 2px;

    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}
.password-box {
    position: relative;
    width: 400px;
    height: 60px;
    /* left: 221px;
    top: 756px; */
    
    background: #FFFFFF;
    border-radius: 5px;
    cursor: default;
}
.password-txt {
    position: relative;
    width: 153px;
    height: 18px;
    left: 10px;
    top: -38px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}
#update-password-btn {
    position: relative;
    width: 150px;
    height: 40px;
    left: 250px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
}
#update-password-btn img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  transition: all 0.25s;
  z-index: 1;
}

#update-password-btn:hover img:nth-of-type(2){
    opacity: 0;
}


.follow-channnel-container {
  position: relative;
  top: 5%;
  left: 23%;
}

  /* フォローチャンネル題名 */
.follow-channels-unit {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 70px;
  left: 0%;
}
.follow-channels {
    position: relative;
    width: 270px;
    height: 35px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
    cursor: default;
}
.follow-channels-japanese {
    position: relative;
    width: 270px;
    height: 35px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* ボックスの高さと同一 */
    color: #000000;
    cursor: default;
}
.follow-channels-unit img {
  position: relative;
  width: 50px;
  height: 50px;
}

/* フォローチャンネル一覧 */
.channel-scroll {
    position: relative;
    width: 500px;
    height: 530px;
    left: -4%;
    top: 0%;
    border: none;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
      /*上下方向にはみ出した要素ををスクロールさせる*/
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
/*スクロールバー非表示（Chrome・Safari）*/
.channel-scroll::-webkit-scrollbar {
    display:none;
}

/* フォローチャンネルリスト */
.follow-channel-box {
    position: relative;
    width: 450px;
    height: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px 30px 0px;
    background: white;
    margin-top: 25px;
}
.unfollow-channel-btn {
    position: absolute;
    left: 0px;
    top: 0px;

    border: none;
    background: transparent;
    cursor: pointer;
}
.follow-channel-name {
    position: absolute;
    left: 120px;
    top: 24px;
    width: 290px;
    height: 25px;

    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    
    color: #000000;
    text-decoration: none;
    transition: all 0.25s;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.follow-channel-name::-webkit-scrollbar {
    display:none;
}

.follow-channel-name:hover {
    color:#870041;
}

.follow-channel-abstract {
    position: absolute;
    left: 120px;
    top: 50px;
    width: 290px;
    height: 30px;
    
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #757575;
    cursor: default;

    word-break: break-all;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.follow-channel-abstract::-webkit-scrollbar {
    display:none;
}

/* フラッシュの表示 */
.flashes {
    position: absolute;
    left: 20%;
    top: -710px;
    height: 25px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: red;
}

/* フォロー解除しますかの吹き出し表示指示 */
.unfollow-channel-btn span {
    position: absolute;
    width: 150px;
    /* height: 50px; */
    left: -20px;
    top: -30px;
    font-size: 16px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    /*テキストを非表示にしておく*/
    display: none;
    opacity: 0;
  
    /*hover時の表示スタイルを指定*/
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #C1005D;
    /*影をつける*/
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
      inset 0 1px 0 rgba(255, 255, 255, 0.8),
      inset 1px 0 0 rgba(255, 255, 255, 0.3),
      inset -1px 0 0 rgba(255, 255, 255, 0.3),
      inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  
    /*アニメーションを指定*/
    animation-duration: 0.3s;
    animation-name: show-balloon;
  }
  
  /*マウスホバー時のバルーンのスタイル*/
  .unfollow-channel-btn:hover span {
    /*テキストを表示する*/
    display: inline-block;
    opacity: 1;
    top: -40px;
  }
  
  /*吹き出し部分の三角形を表示します*/
  .unfollow-channel-btn span::before {
    content: "";
    position: absolute;
    top: 97%;
    left: 20px;
    border: 6px solid transparent;
    border-top: 10px solid #C1005D;
}
/*アニメーションを定義*/
@keyframes show-balloon {
  0% {
    display: none;
    opacity: 0;
    top: -30px;
  }
  1% {
    display: inline-block;
    opacity: 0;
    top: -30px;
  }
  100% {
    display: inline-block;
    opacity: 1;
    top: -40px;
  }
}