@charset "utf-8";
@media screen and (max-width: 768px) {
  
}

* {
box-sizing: border-box;
}

body{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    font-family: 'BIZ UDPGothic';
}

.marusikaku{
    /* 上の四角 */
    position: absolute;
    width: 650px;
    height: 650px;
    left: calc(66% - 325px);
    top: calc(50% - 325px);
    
    background: rgba(255, 255, 255, 0.65);
    border-radius: 230px 230px 230px 180px;
    transform: rotate(83.21deg);
}

.sikaku{
     /* 後ろの四角 */
    position: absolute;
    width: 680px;
    height: 680px;
    left: calc(66% - 340px);
    top: calc(50% - 340px);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 250px 250px 250px 200px;
}

.login-logo{
    position: absolute;
    z-index: 9;
    margin: 0px, 143px, 0px, 0px;
    width: 425px;
    height: 496px;
    left: calc(33% - 212.5px);
    top: calc(50% - 248px);
}


#login-box{
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    width: 357px;
    height: 525px;
    left: 1050px;
    top: 240px;
    left: calc(66% - 178.5px);
    top: calc(50% - 262.5px);
}

h1{
    /* 150から160へ */
    width: 160px;
    height: 32px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    cursor: default;

}

input[type="text"]{
    /* 28から20へ */
    margin: 20px 0px 0px 0px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    top: 300px;
    width: 340px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    /* font-weight: 400; */
    /* font-size: 15px; */
    transition: all 1s;
    background: none;

    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
/* identical to box height */


    color: #000000;
}

.pink-button{
    margin-bottom: 5px;
    /* 12から6 */
    margin: 6px 0px 22px 0px;
    top: 100px;
    padding: 0;
    width: 340px;
    height: 32px;
    background: #278BFF;
    color: white;
    cursor: pointer;
    border: none;
    border-radius:5px;

    width: 355px;
    height: 40px;
    border-radius: 5px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
    transition: all 0.3s;
}
.pink-button:hover{
    background-color:#126BD5;
}

.sign-up{
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    cursor: default;
}

.switch-register-mode{
    text-decoration: none;
    color:  #278BFF;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    transition: all 0.2s;
}
.switch-register-mode:hover{
    color: #C1005D;
}
.or{
    position: absolute;
    width: 355px;
    height: 11px;
    margin: 20px 0px 0px 0px;
}

/* google-ボタン指定 */
.google-login{ 
    position: relative;
    width: 355px;
    height: 40px;
    top: 65px;
    margin: 0px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'BIZ UDPGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    border: none;
    border-radius:5px;
    text-align: center;
    color: #595959;
    transition: all 0.25s;
}
.google-login:hover{
    background-color: #d4d4d4;
    color: white;
}
.g-button img {
  position: relative;
  top: 30px;
  left: 38px;
}


/* 空のフォームがあるようです表示 */
.flashes{
  font-family: 'BIZ UDPGothic';
  font-style: normal;
  color: red;
  list-style:none;
  padding: 0;
  margin: 0;
}