{% extends 'error/base.html' %}
{% block title %}
  error
{% endblock %}
{% block body %}
  <body class="error">
    <div class="error-wrapper">
      <div class="error-content">
        <div>
          <img src="{{url_for('static', filename='img/500.png')}}">
        </div>
        <div class="error-description error500">
          <p>エラーが発生しました。</p>
          <p>管理者にお問い合わせください。</p>
        </div>
          <button class="basic-btn-500 error-btn">
            <a href="{{ url_for('index') }}"> 戻る </a>
          </button>
        
      </div>
    </div>
  </body>
{% endblock %} 
    