<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock %}
    <!-- <link rel=”icon” href="{{url_for('static',filename='./static/img/or.png')}}" /> -->
    <!-- <link rel="shortcut icon" href="../static/img/ring-favicon.ico" type="image/vnd.microsoft.icon" /> -->
    <link rel="icon" href="../static/img/ring-favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}" />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>