{% extends 'base.html' %}
{% block title %}
  <title>chatroom</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/chatroom.css')}}" />
  <style>
    h1{line-height: 1.2em;margin: 0px 10px 0px 10px;}
    h3{margin: 0px 10px 0px 10px;}
    .modal-header{display: flex;justify-content: space-between;}
    #chat-header{display: flex;align-items: flex-end;}
    .chatroom-btn{display: flex;}
    .follow-box{display: flex;flex-wrap: nowrap;margin: 0px 10px 0px 10px;padding-left: 0}
    li{list-style: none;}
    #logout-btn{margin-left: 10px;}
    #message_id{display: none;}
    .reaction-all{display: flex;}
    .reactions{display: flex;}
  </style>
{% endblock %}
{% block body %}
<body>

  <!--上部の黒帯　メニュー一覧 -->
  <header>  
    <nav>
      <ul>
        <li class="logo1"><img src="{{url_for('static', filename='img/Channel-chatIcon.png')}}" alt="icon"></li> <!-- ロゴ -->
        <li class="logo2"><img src="{{url_for('static', filename='img/Channel-Ring.png')}}" alt="ring"></li> <!-- ロゴ -->
        <li class="home"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/Home-White.png')}}" alt="home"></a></li> <!-- チャンネル一覧へ遷移 -->
        <li class="mypage"><a href="{{ url_for('my_page') }}"><img src="{{url_for('static', filename='img/myPage-White.png')}}" alt="mypage"></a></li> <!-- Mypageへ -->
        <li class="logout" id="logout-btn"><img src="{{url_for('static', filename='img/Logout-White.png')}}" alt="logout"></li> <!-- ログアウト -->
    </ul>
    </nav>
  </header>

  <div class="right-chatArea"> <!-- 右側　メッセージ表示エリア背景指定-->
    <div class="background-logo"> <!-- チャットエリアの背景ロゴ -->
      <img src="{{url_for('static', filename='img/Loginlogo.png')}}" alt="home">
    </div>
  </div>

  <!--<div class="main-container">-->
    <div class="chat-box">
      <!-- flashの表示 -->
      <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <img src="{{url_for('static', filename='img/chatBlack.png')}}" alt="chatIconBlack">
      <!-- もしuidとチャンネル作成者が同じならタイトル、説明を編集可能にする -->
      <h1 id="chatroom-name">{{ channel.name }}</h1>
      {% if channel.abstract is not none %}
        <h3 id="chatroom-description">{{ channel.abstract }}</h3>
      {% endif %}
      <!-- チャンネルメンバー表示 -->
        <div class="Member">
          <div class="followers">
            <h2>Follower</h2>
            <h4>{{numberOfFollowers}}</h4>
          </div>
            <ul class="member-scroll">
              {% for user in followers %}
                <ul>
                  <li>
                    {% if user.user_icon_path %}
                      <img src="{{url_for('static', filename=user.user_icon_path)}}">
                    {% else %}
                      <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}">
                    {% endif %}
                    <p>{{user.user_name}}</p>
                  </li>
                </ul>  
              {% endfor %}
            </ul>
        </div>
      <!-- チャンネル詳細編集ボタン表示 -->
      <div class="chatroom-btn">
        {% if uid == channel.uid %}
          <div id="update-channel-btn">
            <img src="{{url_for('static', filename='img/channelEditB-hover.png')}}">
            <img src="{{url_for('static', filename='img/channelEditB.png')}}">
          </div>
        {% endif %}
      </div>
    </div>
    {% include 'modal/update-channel.html' %}
    {% include 'modal/logout.html' %}
  </div>
  <!-- メッセージ表示エリア -->
  <div class="message-area">
    {% if messages|length > 0 %}
      {% for message in messages %}
        {% if message.uid == uid %}
          <div class="my-messages"> <!-- 自分のメッセージ表示 -->
            {% if message.created_at == message.updated_at %}
            <div class="my-message-updatetime"> <!-- メッセージ編集時間表示 -->
              <p class="message-updatetime-right">{{ message.created_at.strftime("%Y-%m-%d %H:%M") }}</p>
            </div>
            {% else %}
            <div class="my-message-updatetime"> <!-- メッセージ編集時間表示-編集時 -->
              <p class="message-updatetime-right">{{ message.created_at.strftime("%Y-%m-%d %H:%M") }}</p>
              <p class="message-updatetime-right-edit">編集:{{ message.updated_at.strftime("%Y-%m-%d %H:%M") }}</p>
            </div>
            {% endif %}

            <!-- ユーザアイコン表示 -->
            <div class="my-icon">
              {% if message.user_icon_path %}
                <img src="{{url_for('static', filename=message.user_icon_path)}}">
              {% else %}
                <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}">
              {% endif %}
            </div>
            <!-- ユーザアイコン表示ここまで -->

            <div class="box box-right">
              <p>{{ message.message.replace("\r\n","<br>").replace("\n","<br>") | safe }}</p> <!-- UIにメッセージ内容表示 -->
              <!-- リアクション表示 -->
              <div class="reacions">
              {% if messages_reaction %}
                {% for message_reaction in messages_reaction %}
                  {% if message.id == message_reaction.mid %}
                    <div class="reaction-circle">
                      <img class="reaction-img" src="{{ url_for('static',filename=message_reaction.icon_path) }}" /> <!-- UIにリアクションアイコン表示 -->
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              </div>
              <button class="update-message-btn"> <!--メッセージ編集ボタン-->
                <img src="{{url_for('static', filename='img/messageEdit-hover.png')}}" alt="messageEdit">
                <img src="{{url_for('static', filename='img/messageEdit.png')}}" alt="messageEdit">
              </button>
              <button class="delete-message-btn"> <!-- メッセージ削除ボタン -->
                <img src="{{url_for('static', filename='img/trashB-hover.png')}}" alt="messageDelete">
                <img src="{{url_for('static', filename='img/trashB.png')}}" alt="messageDelete">
              </button>
            </div>
            
            <!-- ユーザアイコン表示 -->
            <!-- <div class="my-icon">
              {% if message.user_icon_path %}
                <img src="{{url_for('static', filename=message.user_icon_path)}}">
              {% else %}
                <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}">
              {% endif %}
            </div> -->
            <!-- ユーザアイコン表示ここまで -->

            {% include 'modal/delete-message.html' %}
            {% include 'modal/update-message.html' %}
          </div>
        {% else %}
        <!-- 他人のメッセージ表示 -->
          <div class="messages">
            <p class="user-name">{{ message.user_name }}</p> <!-- UIにusername表示 -->
            {% if message.created_at == message.updated_at %}
            <div class="other-message-updatetime"> <!-- メッセージ投稿時間表示 -->
              <p class="message-updatetime-left">{{ message.created_at.strftime("%Y-%m-%d %H:%M") }}</p> 
            </div>
            {% else %}
            <div class="other-message-updatetime"> <!-- メッセージ投稿時間表示-編集時 -->
              <p class="message-updatetime-left">{{ message.created_at.strftime("%Y-%m-%d %H:%M")  }}</p>
              <p class="message-updatetime-left-edit">編集:{{ message.updated_at.strftime("%Y-%m-%d %H:%M") }}</p>
            </div>
              {% endif %}

            <!-- 他人のユーザアイコン表示 -->
              <div class="other-icon">
                {% if message.user_icon_path %}
                  <img src="{{url_for('static', filename=message.user_icon_path)}}">
                {% else %}
                  <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}">
                {% endif %}
              </div>
            <!-- 他人のユーザアイコン表示ここまで -->              

            <div class="box box-left">
              <p>{{ message.message.replace("\r\n","<br>").replace("\n","<br>") | safe }}</p> <!-- UIにメッセージ内容表示 -->
              <!-- リアクション表示 -->
              <div class="reacions">
              {% if messages_reaction %}
                {% for message_reaction in messages_reaction %}
                  {% if message.id == message_reaction.mid %}
                    {% if uid == message_reaction.uid %}
                      <a href="/delete_reaction/{{channel.id}}/{{message_reaction.id}}">
                        <div class="my-reaction-circle">
                          <img class="my-reaction-img" src="{{ url_for('static',filename=message_reaction.icon_path) }}" /></a> <!-- UIにリアクションアイコン表示 -->
                        </div>
                        {% else %}
                        <div class="reaction-circle">
                          <img class="reaction-img" src="{{ url_for('static',filename=message_reaction.icon_path) }}" /> <!-- UIに他人のリアクションアイコン表示 -->
                        </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              </div>
              <button class="reaction-btn"> <!-- リアクション選択モーダル表示 -->
                <img src="{{url_for('static', filename='img/reactionPlusB-hover.png')}}" alt="reactionPlus">
                <img src="{{url_for('static', filename='img/reactionPlusB.png')}}" alt="reactionPlus">
              </button>
              {% include 'modal/add-reaction.html' %}
            </div>

            <!-- 他人のユーザアイコン表示 -->
            <!-- <div class="other-icon">
              {% if message.user_icon_path %}
                <img src="{{url_for('static', filename=message.user_icon_path)}}">
              {% else %}
                <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}">
              {% endif %}
            </div> -->
            <!-- 他人のユーザアイコン表示ここまで -->

          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="noMessages">まだメッセージがありません</div> <!-- 投稿がない時のUI表示 -->
    {% endif %}
  </div>

  <div class="textInput"> <!-- テキスト入力エリア -->
    <form class="typing-box" action="/message" method="POST">
      <textarea name="message" id="message" autofocus></textarea>
      <input type="hidden" name="channel_id" value="{{ channel.id }}" />
      <!--<button type="submit" id="add-message-btn">-->
      <button type="submit" id="add-message-btn">
        <img src="{{url_for('static', filename='img/chatSendB-hover.png')}}" alt="messageSend">
        <img src="{{url_for('static', filename='img/chatSendB.png')}}" alt="messageSend">
      </button>
    </form>
  </div>
</body>

{% endblock %}
{% block script %}
  <script type="text/javascript">
    const channel = JSON.parse('{{ channel|tojson }}');
    const uid = JSON.parse('{{ uid|tojson }}');
    const messages = JSON.parse('{{ messages|tojson }}');
  </script>
  <script
    src="{{url_for('static',filename='js/detail-modal.js')}}"
    type="text/javascript"
  ></script>
  <script
    src="{{url_for('static',filename='js/scroll-message.js')}}"
    type="text/javascript"
  ></script>
  <script
    src="{{url_for('static',filename='js/chat-fetch.js')}}"
    type="text/javascript"
  ></script>
{% endblock %}
