{% extends 'base.html' %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/my_page.css')}}" />
  <title>my_page</title>
  <style>
    .modal-header{display: flex;justify-content: space-between;}
  </style>
{% endblock %}
{% block body %}
<body>
  <header>
      <nav>
          <ul>
              <li class="logo1"><img src="{{url_for('static', filename='img/Channel-chatIcon.png')}}" alt="icon"></li>
              <li class="logo2"><img src="{{url_for('static', filename='img/Channel-Ring.png')}}" alt="ring"></li>
              <li class="home"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/Home-White.png')}}" alt="home"></a></li>
              <li class="mypage"><a href="{{ url_for('my_page') }}"><img src="{{url_for('static', filename='img/myPage-White.png')}}" alt="mypage"></a></li>
              <li class="logout" id="logout"><img src="{{url_for('static', filename='img/Logout-White.png')}}" alt="logout"></li>
          </ul>
      </nav>
  </header>
<!-- </body> -->

<!-- <body bgcolor="#DBDBDB"> -->
  <div class="user-info-sikaku">
    <div class="centerLine"></div>
  </div>
  <div class="follow-channel-sikaku"></div>

    <div id="update-name-email-btn">
      <img src="{{url_for('static', filename='img/edit-hover.png')}}" />
      <img src="{{url_for('static', filename='img/edit.png')}}" />
    </div>
    <div id="update-password-btn">
      <img src="{{url_for('static', filename='img/edit-hover.png')}}" />
      <img src="{{url_for('static', filename='img/edit.png')}}" />
    </div>
    <div id="update-icon-btn">
      <img src="{{url_for('static', filename='img/changeIconB.png-hover.png')}}" />
      <img src="{{url_for('static', filename='img/changeIconB.png')}}" />
    </div>
  
    <!-- flashの表示 -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <div>
    <h1 class="user-info">My Page</h1>
    <h3 class="user-info-japanese">ユーザー情報</h3>
    <div class="mypage-icon"><img src="../static/img/myPage-icon.png"></div>
    <!-- <div class="user-icon"><img src="{{url_for('static', filename='img/userIcon.png')}}"></div> -->
    <!-- ユーザー情報 -->
    <div class="user-icon">
      <p class="user-img"></p>
      {% if icon %}
        <img src="{{url_for('static', filename=icon.user_icon_path)}}" />
      {% else %}
        <img src="{{url_for('static', filename='img/user-icon/userIcon.png')}}" />
      {% endif %}
    </div>
      <P class="user-name-mypage">User Name</P>
        <div class="user-name-box"></div>
        <p id="db-user-name">{{name.user_name}}</p>

      <p class="mail-address">Mail Address</p>
        <div class="mail-address-box"></div>
        <p id="db-email">{{email.email}}</p>
        
      <p class="password">Password</p>
        <div class="password-box"></div>
        <p class="password-txt">**********</p>

    <!-- フォローチャンネル -->
      <h1 class="follow-channels">Follow Channels</h1>
      <h3 class="follow-channels-japanese">お気に入りチャンネル</h3>
      <div class="follow-channels-icon"><img src="../static/img/myPage-heart.png"></div>
      <ul class="channel-scroll">
          {% for follow_channel in follow_channels %}  
          <div>
            <div class="follow-channel-box">
              <table>
                <tr>
                  <td>
                    <button type="button" class="unfollow-channel-btn">
                      <img src="{{url_for('static', filename='img/channelPic-heart.png')}}">
                    </button>
                  </td>
                  <td>
                    <a class="follow-channel-name" href="/detail/{{follow_channel.cid}}" >{{follow_channel.name}}</a>
                  </td>
                  <td>
                    <p class="follow-channel-abstract">{{follow_channel.abstract}}</p>
                  </td>
                  {% include 'modal/unfollow-channel.html' %}
                </tr>
              </table> 
          </div>
          <!-- <br> -->
        {% endfor %}
      </ul>
  </div>
  {% include 'modal/update-name-email.html' %}
  {% include 'modal/update-password.html' %}
  {% include 'modal/update-icon.html' %}
  {% include 'modal/logout.html' %}
</body>
{% endblock %}

{% block script %}
  <script
  src="{{url_for('static',filename='js/update-mypage.js')}}"
  type="text/javascript"
  ></script>
{% endblock %}